# Server Port
server.port=8081

# PostgreSQL Configuration
# Update these if your local DB is different
spring.datasource.url=jdbc:postgresql://localhost:5432/fluxgate
spring.datasource.username=postgres
spring.datasource.password=password
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA / Hibernate
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

# API Keys
# GET YOUR FREE KEY FROM: https://build.nvidia.com/
nvidia.api-key=PASTE_YOUR_NVIDIA_API_KEY_HERE
deepseek.api-key=PASTE_YOUR_NVIDIA_API_KEY_HERE
chimera_deepseek.api-key=PASTE_YOUR_NVIDIA_API_KEY_HERE
