# Ignore node_modules, as it will be installed inside the container
node_modules

# Ignore build artifacts
dist

# Ignore local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
